<h1>CRUD Productos</h1>

<button (click)="createFakeProduct()">
    Crear producto
</button>
<br>

<button (click)="toggleForm()">
  Crear producto local
</button>

<div *ngIf="showForm" style="margin:20px; padding:15px; border:1px solid #aaa;">

    <h2>Nuevo producto</h2>

    <div>
        <label>Título:</label>
        <input [(ngModel)]="newProduct.title" />
    </div>

    <div>
        <label>Precio:</label>
        <input type="number" [(ngModel)]="newProduct.price" />
    </div>

    <div>
        <label>Descripción:</label>
        <input [(ngModel)]="newProduct.description" />
    </div>

    <div>
        <label>Categoría:</label>
        <input [(ngModel)]="newProduct.category" />
    </div>

    <br />

    <button (click)="saveProduct()">
        Guardar producto
    </button>

    <button (click)="toggleForm()">
        Cancelar
    </button>

</div>

<div *ngIf="loading">
    Cargando productos...
</div>

<div *ngIf="!loading">

    <div *ngFor="let product of products" style="border:1px solid #ccc; padding:10px; margin:10px">

        <h3>{{ product.title }}</h3>
        <p>{{ product.price }} $</p>

        <button [routerLink]="['/crud', product.id]">
            Ver
        </button>

        <button (click)="editProduct(product)">
            Editar
        </button>

        <button (click)="deleteProduct(product.id)">
            Eliminar
        </button>

    </div>

</div>